RewriteEngine on

Redirect 301 /aikido http://www.ekia.net/training
Redirect 301 /contact http://www.ekia.net/answers
Redirect 301 /links http://www.ekia.net/answers
Redirect 301 /faq http://www.ekia.net/answers
Redirect 301 /about http://www.ekia.net/people
Redirect 301 /begin http://www.ekia.net/training
Redirect 301 /photos https://goo.gl/photos/GrneaFmHrJR1LzQ1A
Redirect 301 /schema https://docs.google.com/spreadsheets/d/1DBGA8wHPPVc_gbpIlMmUIwHSdHqCg_ZnKzwoYfDX2B4/edit?usp=sharing

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

