[mv-mode="edit"] {
    background-color: lightgoldenrodyellow !important;
    border-top: 1px solid red !important;
    border-bottom: 1px solid red !important;
    color: black !important;
}


[mv-permissions~="login"] .mavoauth {
    display: none;
}

.white
{
    background-color: white !important;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
  }

  .align-vertically {
    display: flex;
    align-items: center;
    height: 40px;
  }